
workDir =    "${projectDir}/work"
tmpDir =     "${projectDir}/tmp"

params {
  outdir =    "${projectDir}/results"
  reportdir = "${projectDir}/reports"
  tracedir = "${projectDir}/traceDir"
}

// Global default params, used in configs
params {

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'

}